{% extends "giti/base.html" %}

{% block title %}<a href='{% url giti.views.tree_show repo_name=repo.name  path="" %}'>{{ repo.name }}</a>: {{ tree.path }}{% endblock %}
{% block content %}
<h3>Tree:</h3>

{% for t in tree.trees %}
<div class='item tree'>
    <a href='/list/{{ repo.name }}/{{ t.path }}/'>{{ t.name }}</a>
</div>    
{% endfor %}

{% for b in tree.blobs %}
<div class='item blob'>
    <a href='/show/{{ repo.name }}/{{ b.path }}'>{{ b.name }}</a>
    [ <a href='/edit/{{ repo.name }}/{{ b.path }}'>Edit</a> ]
    [ <a href='/delete/{{ repo.name }}/{{ b.path }}'>Delete</a> ]
</div>    
{% endfor %}
{% endblock %}
